{% load static %}
<!DOCTYPE html>
<html ng-app="fitnessbuddy" lang="en">
    <head>
        <title>FitnessBuddy</title>

        <!-- Viewport Meta Tag -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="utf-8">

        <base href="/">

        {% include 'stylesheets.html' %}
    </head>
    <body>
        <div ng-controller="NavigationController">
            {% include 'navigation.html' %}
        </div>

        <!-- Page Content -->
        <div class="m-4" id="page-content">
            <div ng-view class="container-fluid"></div>
        </div>

        {% include 'javascripts.html' %}
    </body>
</html>
