{% load static %}

<!-- Overlay div that grays out screen when sidebar is active on smaller screens -->
<div class="overlay"></div>

<!-- Sidebar -->
<div class="sidebar-initial" id="sidebar">
    <ul class="sidebar-nav">
        <li><a href="/"><img class="pt-2 pb-2 pl-2" src="{% static 'logo.png' %}" height="56px"></a></li>
        <ng-include src="'static/templates/sidebar.html'">
    </ul>
</div>

<!-- Top navbar -->
<nav class="navbar sticky-top flex-row navbar-toggleable-md navbar-inverse bg-light" style="background-color: #d7dde4;">

    <!-- Sidebar toggle icon -->
    <button class="navbar-toggler navbar-toggler-left" id="menu-toggle"><i class="icon-large icon-reorder"></i></button>

    <!-- Inline search -->
    <ul class="nav navbar-nav mr-auto">
        <form class="form-inline hidden-xs-down">
            <i class="icon icon-search text-muted mb-1"></i><input class="form-control transparent-input mr-2" type="text" placeholder="Quick Search...">
        </form>
    </ul>

    <!-- Right aligned items -->
    <ul class="nav navbar-nav">
        <ng-include src="'static/templates/top_nav.html'">
    </ul>

</nav>
